<script>
    import Spinner from "../../utils/Spinner.svelte";
    import { db } from "../../config/firebaseConfig";
    import { collection, addDoc, serverTimestamp } from "firebase/firestore";

    let user = { username: "", email: "", image: "", timestamp: "" };
    let error = { username: "", email: "", image: "" };
    let loading = false;
    const emailRegex = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
    const urlRegex = /(?:https?):\/\/(\w+:?\w*)?(\S+)(:\d+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/;
    const saveData = async () => {

        if (!validateForm()){
            console.log(error)
            return
        }

        loading = true;
        user.timestamp = serverTimestamp();
        const docSaved = await addDoc(collection(db, "users"), user);
        loading = false;
        clearForm();
    };

    const clearForm = () => {
        user = { username: "", email: "", image: "", timestamp: "" };
    };

    const validateForm = () => {

        if (!user.username.trim()) {
            error.username = "Field is required"
            return false
        }

        if (!emailRegex.test(user.email)){
            error.email = 'Please enter a valid email'
            return false
        }

        if (!urlRegex.test(user.image)){
            error.email = 'Please enter a valid URL'
            return false
        }

        error = { username: "", email: "", image: "" }
        return true

    };
</script>

<form on:submit|preventDefault={saveData}>
    <input
        type="text"
        id="username"
        placeholder="User Name"
        bind:value={user.username}
        required
    />

    <div class="error">{error.username}</div>

    <input
    type="text"
    id="email"
    placeholder="Email"
    bind:value={user.email}
    required
    />

    <div class="error">{error.email}</div>
    
    <input
    type="text"
    id="image"
    placeholder="Image Link"
    bind:value={user.image}
    />
    
    <div class="error">{error.image}</div>

    <br />
    <br />
    {#if loading}
        <Spinner />
    {:else}
        <button disabled={loading}> <b>SEND</b> </button>
    {/if}
</form>

<style>
    input {
        background-color: black;
        color: white;
        margin-bottom: 15px;
        width: 80%;
    }

    ::placeholder {
        color: #bfbfbf;
        opacity: 1;
        font-size: 0.6rem;
    }

    button {
        width: 8rem;
    }

    .error{
        color: white;
        font-size: medium;
    }
</style>
