<script>
    export let user = {username:'', email:'', image:''};
    const defaultImage = 'https://trabajosihay.la/wp-content/uploads/jobsearch-user-files/GETitOUT.io-Profile.jpg';

</script>

<div class="card">
    <img src={user.image ? user.image : defaultImage } alt="profile" srcset="">
    <div>
        <h3>
            {user.username}
        </h3> 
        <p>{user.email}</p>
    </div>
</div>

<style>

    .card{
        border-radius: 10px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
        margin-right: 15px;
        margin-bottom: 15px;
        min-width: 150px;
        max-width: 250px;
    }

    h3{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    p{
        margin-top: 3px;
        font-size: .8rem;
        font-weight: 100;
    }

    img{
        width: 180px;
        height: 110px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

</style>