<nav> <img src="https://getitout.io/wp-content/uploads/2020/04/GET-it-OUT.svg" alt=""> </nav>

<style>

    nav{
        width: 100%;
        padding: .5rem;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        position: fixed;
        overflow: hidden;
        background-color: white;
        top: 0;
        max-height: 3rem;
    }

</style>