<script>
    import {
        query,
        limit,
        orderBy,
        collection,
        getDocs,
    } from "firebase/firestore";
    import { db } from "../config/firebaseConfig";
    import Card from "./shared/Card.svelte";
    import Spinner from "../utils/Spinner.svelte";

    let users = [];
    let loading = false;

    const getData = async () => {
        loading = true;
        const userRef = collection(db, "users");
        const querydb = query(userRef, orderBy("timestamp", "desc"), limit(10));

        const docsSnapshop = await getDocs(querydb);

        users = docsSnapshop.docs.map((doc) => {
            return { id: doc.id, ...doc.data() };
        });
        loading = false;
    };

    getData();
</script>

<div class="container">
    <div class="content">
        <h1>UPDATE <br /> RECORDED DATA</h1>
        <div class="cards">
            {#each users as user}
                <Card {user} />
            {/each}
        </div>
    </div>

    <div class="container-button">
        {#if loading}
            <Spinner />
        {:else}
            <button on:click={getData}>UPDATE</button>
        {/if}
    </div>
</div>

<style>
    .container {
        max-width: 50%;
    }

    .content {
        max-height: 250px;
        scrollbar-width: none;
        overflow: auto;
        padding: 2.5rem;
    }

    .cards {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container-button {
        background-color: #e5e5e5;
        width: 100%;
        height: 100%;
        padding-top: 15px;
        box-shadow: 8px -34px 13px 4px rgba(229, 229, 229, 0.65);
        position: relative;
    }

    h1 {
        font-weight: 350;
    }

    button {
        background-color: black;
        color: white;
        width: 8rem;
    }

    @media (max-width: 640px) {
		.container {
			max-width: none;
            padding: 0;
            padding-top: 2rem;
		}
	}

</style>
