<script>
    import AddForm from "./shared/AddForm.svelte";
</script>

<div class="container">
    <div class="content">
        <h1>ENTER THE DATA <br /> TO THE REGISTER</h1>
        <AddForm />
    </div>
    <div class="triangle"></div>
</div>

<style>
    .container {
        display: flex;
        flex-direction: row;
        background-color: black;
        padding-left: 2.5rem;
        padding-top: 2.5rem;
        max-width: 50%;
        justify-content: space-between;
    }

    .content{
        width: 100%;
    }

    h1 {
        color: white;
        font-weight: 500;
        margin-bottom: 30px;
    }

    .triangle {
       width: 0;
       height: 0;
       border: 15px solid transparent;
       border-right: 30px solid white;
       margin-top: 40%;
    }

    @media (max-width: 640px) {
		.container {
			max-width: none;
            flex-direction: column;
            padding: 0;
		}

        .triangle{
            margin-top: 0;
            border-bottom: 30px solid white;
            border-right: 15px solid black;
            align-self: center;
        }
	}
</style>
