<script>
	import NavBar from "./components/shared/NavBar.svelte";
	import ContainerForm from "./components/ContainerForm.svelte";
	import ContainerCard from "./components/ContainerCard.svelte";
</script>

<main>
	<NavBar/>
	<div class="container">
		<ContainerForm/>
		<ContainerCard/>
	</div>
</main>

<style>
	main {
		text-align: center;
		margin: 0 auto;
	}

	.container{
		display: flex;
		justify-content: space-around;
		margin-top: 3rem;
		height: 100vh;
	}

	@media (max-width: 640px) {
		.container {
			flex-wrap: wrap;
			overflow: auto;
			scrollbar-width: none;
		}
	}
</style>